{% extends "base.html" %}
{% block content %}
<h1>Alterar Senha</h1>
<form method="POST">
  <div>
    <label>Senha Atual:</label>
    <input type="password" name="current_password" required>
  </div>
  <div>
    <label>Nova Senha:</label>
    <input type="password" name="new_password" required>
  </div>
  <div>
    <label>Confirmar Nova Senha:</label>
    <input type="password" name="confirm_password" required>
  </div>
  <button type="submit" class="btn">Alterar</button>
</form>
{% endblock %}
